html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    meta(charset='utf-8')
    link(rel='stylesheet' href='public/app.css' type='text/css')
  body
    section#main-container
    footer.site-footer
      .container
        .row
          .col.s12.l3.center-align
            a.dropdown-button.btn.btn-flat(href='#', data-activates='dropdown1') Idioma
            ul#dropdown1.dropdown-content
              li
                a(href='#!') Español
              li
                a(href='#!') Inglés
          .col.s12.l3.push-l6.center-align
            | 2016 PLatzigram
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js')
    script(type='text/javascript').
      WebFont.load({
      google: {
      families: ['Montserrat']
      }
      });
